<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fruits App</title>
    </head>
    <body>
        <h1>Pokemon Show Page</h1>
       

        <br><br>
        <a href="/pokemon">Back to Pokedex</a>
    </body>
</html>
